private By txt_EmailSignin = By.xpath("//*[@type='email' or @placeholder='someone@example.com' or contains(@aria-label,'email')]");
private String Behalf_UserValue;
private By btn_Next = By.xpath("//*[contains(@type, 'submit') or contains(@value,'Next')]");
private By txt_Emailpassword = By.id("passwordInput");
private By btn_Emailsignin_id = By.id("submitButton");
private By btn_Staysignedin_No = By.xpath("//*[contains(@id,'idBtn_Back') or starts-with(@value,'No')]");
private By Checkbox_DontShow = By.xpath("//*[contains(@id,'KmsiCheckboxField')]");
private String outlookURL = "http://outlook.office365.com/";
private By lnk_Inbox_ITSM=By.xpath("//*[starts-with(text(),'ITSM Test')]");
private By Lnk_Inbox_Expand_icon=By.id("_ariaId_46");
private By lnk_Inbox_ITSM=By.xpath("//*[starts-with(text(),'ITSM Test')]");

String UserAccount_Check_New = Get_Text(Driver, txt_EmailSignin);
		if (UserAccount_Check_New.isEmpty()) {
			Actions_EnterValues(Driver, txt_EmailSignin, User_Name);
			// log.info("UserName Entered in Outlook");
			ClickObjects(Driver, btn_Next);
			// log.info("Click on Next in Outlook");
		}
		By btn_Sign = By.xpath("//*[starts-with(@id,'KmsiDescription') or starts-with(@id,'formsAuthenticationArea')]");
		List<String> Values = ValuetoStore_List(Driver, btn_Sign);
		if (Values.contains("Sign in")) {
			Actions_EnterValues(Driver, txt_Emailpassword, Password);
			// log.info("Password Entered in Outlook");
			ClickObjects(Driver, btn_Emailsignin_id);
			// log.info("Signin Button was Clicked in Outlook Login Page");
		}

		// WebdriverWait_VisibilityOfElement(Driver, btn_Staysignedin_No);
		WebdriverWait_ElementClickable(Driver, btn_Staysignedin_No);
		ClickObjects(Driver, Checkbox_DontShow);
		ClickObjects(Driver, btn_Staysignedin_No);
		
		WebElement VisibilityofITSMFolder = ValuetoStore(Driver, lnk_Inbox_ITSM);
		if (!VisibilityofITSMFolder.isDisplayed()) {
			// ClickObjects(Driver, lnk_MailFolder_More);
			ClickObjects(Driver, Lnk_Inbox_Expand_icon);
			// log.info("Clicked on Inbox Expand Icon");
		}
		ClickObjects(Driver, lnk_Inbox_ITSM);
		// log.info("Clicked on ITSM Folder");
		// WebdriverWait_VisibilityOfElement(Driver, Header_mailfolder);
		for (int i = 0; i < 5; i++) {
			TicketNumberstoStore = ValuetoStore_List(Driver, TicketnumbersinMail_Subject);
			List<String> E_Ticket_Numbers = new ArrayList<String>();
			for (String E_Tickets : TicketNumberstoStore) {

				if (E_Tickets.contains("(")) {
					int s1 = E_Tickets.indexOf(")");
					int s2 = E_Tickets.indexOf("0");
					String Email_Tickets = E_Tickets.substring(s2, s1);
					E_Ticket_Numbers.add(Email_Tickets);
				} else {
					int s1 = E_Tickets.indexOf("requires");
					int s2 = E_Tickets.indexOf("0");
					String Email_Tickets = E_Tickets.substring(s2, s1 - 1);
					E_Ticket_Numbers.add(Email_Tickets);
				}
			}
			int count = 0;
			if (E_Ticket_Numbers.contains(Ticket_Number)) {
				WebdriverWait_ElementClickable(Driver, String_to_Xpath(Ticket_Number));
				ClickObjects(Driver, String_to_Xpath(Ticket_Number));
				// log.info("Clicked on mail: " + Ticket_Number);
				break;
			} else {
				count=count+1;
				Driver.navigate().refresh();
				WebdriverWait_ElementClickable(Driver, lnk_Inbox_ITSM);
				ClickObjects(Driver, lnk_Inbox_ITSM);
			}
		}
		WebdriverWait_VisibilityOfElement(Driver, Header_mailsubject);
		String MailDetail_Subject = Get_Text(Driver, Header_mailsubject);
		MailDetail_Subject.contains(Ticket_Number);
		
	public by actionsEnterValues(WebDriver driver, By Locator, String value) throws Exception {
		try {
			WebElement Act_EnterValues = driver.findElement(Locator);
			Actions act = new Actions(driver);
			act.moveToElement(Act_EnterValues);
			act.click();
			act.sendKeys(value);
			act.build().perform();
		} catch (Exception e) {
			e.printStackTrace();
		}
	}
/target/
